html {
    background-color: grey;
}

header {
    background-color: rgb(53, 51, 51);
    width: 100vw;
    height: 15vh;
}

div {
    background-color: white;
    width: 70vw;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: black;
    bottom: 0;
    width: 70vw;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
}

